@model List<GymViewModel>

    <div class="container">
        <h3>Popular gyms</h3>
        <hr />
        <div class="card-columns">
            @foreach (var gym in Model)
            {
                <div class="card text-white bg-dark col-md-8">
                    <img class="card-img-top" src="~/images/gym.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">@gym.Name</h5>
                        <span>There are @gym.NumberOfOpinions opinions.</span>

                        <p class="card-text">@gym.Description</p>
                        <a href="/gym/details/@gym.Id" class="btn btn-primary">Check opinions</a>
                    </div>
                </div>
            }

        </div>
    </div>